# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore Visual Studio cache & temp files
.vs/
*.user
*.suo
*.tmp
*.log
*.dbmdl
*.vssscc
*.vspscc
*.csproj.user

# Build folders
bin/
obj/
